
tensorflow
pip==23.0.1
scikit-learn
h5py
matplotlib
Pillow
requests
psutil
imageio
openvino-dev
streamlit==1.18
streamlit-webrtc==0.43.0
opencv-python-headless
opencv-contrib-python-headless==4.5.3.56
protobuf==3.19.0
