tensorflow
torch
torchvision
pip==23.0.1
scikit-learn
h5py
matplotlib
Pillow
requests
psutil
imageio
streamlit
streamlit-webrtc
opencv-python-headless
opencv-contrib-python-headless==4.5.3.56
protobuf
