tensorflow==2.12.0-rc0
pip==23.0.1
scikit-learn
h5py
matplotlib
Pillow
requests
psutil
imageio
openvino-dev
streamlit
streamlit-webrtc
opencv-python-headless
opencv-contrib-python-headless==4.5.3.56
protobuf==3.19.6